@import "tailwindcss";

:root {
  --apricot: #F5A962;
  --espresso: #2D2420;
  --caramello: #FDF6E9;
  --pepe: #E76F51;
  --verde: #6B8E5E;
  --milk: #FDFBF7;
  --foam: #FFFFFF;
}

body {
  background-color: var(--milk);
  color: var(--espresso);
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDXbtM.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZOIHQ.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriAWCrCBimCw.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
